server:
  port: 8083

spring:
  application:
    name: order-service
  datasource:
    url: jdbc:mariadb://localhost:3306/order_db
    username: root
    password:
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
